
# Anroid Studio
*.apk
*.ap_
*.dex
*.class

/RobotSolverApp/bin/
/RobotSolverApp/gen/
/RobotSolverApp/out/

/RobotSolverApp/.gradle/
/RobotSolverApp/build/
/RobotSolverApp/local.properties
/RobotSolverApp/proguard/

.log
/RobotSolverApp/.navigation/

/RobotSolverApp/captures/

# IntelliJ
*.iml
/RobotSolverApp/.idea/workspace.xml
/RobotSolverApp/.idea/tasks.xml
/RobotSolverApp/.idea/gradle.xml
/RobotSolverApp/.idea/dictionaries
/RobotSolverApp/.idea/libraries

.externalNativeBuild
google-services.json

freeline.py
/RobotSolverApp/freeline/
freeline_project_description.json